.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #696d76;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


#y-axis line {
  stroke: black;
}

#y-axis path {
  stroke: black;
}

#y-axis text {
  color: black;
  font-weight: lighter;
}

#x-axis line {
  stroke: black;
}

#x-axis path {
  stroke: black;
}

#x-axis text {
  /* stroke: black; */
  color: black;
  font-weight: lighter;
}

#tooltip {
  position: absolute;
  text-align: center;
  height: auto;
  width: auto;
  padding: 5px;
  font-size: 16px;
  background: #25A18E;
  box-shadow: 1px 1px 10px;
  pointer-events: none;
}

h5 {
  margin-bottom: -30px;
  color:#25A18E;
}

h6 {
  margin: none;
}